/* box where the chat does appear*/
#chatbox {
  background-color: rgba(0, 0, 0, 0.3);
  margin-top: 1.5rem;
}

#chatbox-mobile {
  background-color: rgba(0, 0, 0, 0.3);
  margin-top: 1.5rem;
  padding-bottom: 2rem;
}

.chatbox {
  height: 80vh;
  width: 30vw;
  overflow: auto;
  border-radius: 0.6rem;
  position: relative;
  display: flex;
  flex-direction: column;
}

.editchatbox {
  height: 57vh;
  width: 30vw;
  overflow: auto;
  border-radius: 0.6rem;
  position: relative;
  display: flex;
  flex-direction: column;
}

/* comments */
.commentchatbox {
  height: 61.7vh;
  width: 30vw;
  overflow: auto;
  border-radius: 0.6rem;
  position: relative;
  display: flex;
  flex-direction: column;
}

.comments-info {
  text-align: center;
  margin-top: 10%;
}

/* tablet */
.chatbox-tablet {
  height: 77vh;
  width: 100%;
  overflow: auto;
  border-radius: 0.6rem;
  position: relative;
  display: flex;
  flex-direction: column;
}

.editchatbox-tablet {
  height: 54vh;
  width: 100%;
  overflow: auto;
  border-radius: 0.6rem;
  position: relative;
  display: flex;
  flex-direction: column;
}

.commentchatbox-tablet {
  height: 59vh;
  width: 100%;
  overflow: auto;
  border-radius: 0.6rem;
  position: relative;
  display: flex;
  flex-direction: column;
}

.comments-info-tablet {
  text-align: center;
  margin-top: 10%;
}

/* mobile */
.chatbox-mobile {
  height: 75.5vh;
  width: 100%;
  overflow: auto;
  border-radius: 0.6rem;
  position: relative;
  display: flex;
  flex-direction: column;
}

.editchatbox-mobile {
  height: 52.5vh;
  width: 100%;
  overflow: auto;
  border-radius: 0.6rem;
  position: relative;
  display: flex;
  flex-direction: column;
}

.commentchatbox-mobile {
  height: 57.5vh;
  width: 100%;
  overflow: auto;
  border-radius: 0.6rem;
  position: relative;
  display: flex;
  flex-direction: column;
}

.comments-info-mobile {
  text-align: center;
  margin-top: 10%;
}

/* ul of chatmessages */
.listgroup-edit {
  margin-left: -4rem;
}

.messages-editmode {
  margin-top: 1rem;
}

.listgroup-chat {
  background-color: transparent;
  border-style: none;
}

.listgroup-chat-comments {
  background-color: transparent;
  border-style: none;
}

.listgroup-chat-comments:nth-child(even) {
  margin-left: 20%;
}

/*box where names and clear button appear*/
.flexContainer-chat {
  display: grid;
  grid-template-columns: 1fr 12rem;
  margin-bottom: 1rem;
}

#link-back {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#link-back-chat {
  margin: 1rem;
}

#link-back-chat:hover {
  text-decoration: underline;
  cursor: pointer;
}

#link-clear {
  margin: 1rem;
  text-align: right;
  color: lightgray;
}

#link-clear:hover {
  text-decoration: underline;
  cursor: pointer;
  color: dodgerblue;
}

/*transition of messages*/
.transition-message-enter {
  opacity: 0;
}
.transition-message-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.transition-message-exit {
  opacity: 1;
}
.transition-message-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}
