/* box where the chat does appear*/
/* Panel */

#chatbox-comments {
  background-color: rgba(0, 0, 0, 0.3);
  margin-top: 1.5rem;
}

#chatbox-comments-mobile {
  background-color: rgba(0, 0, 0, 0.3);
  margin-top: 1.5rem;
  margin-bottom: 2rem;
  overflow: auto;
}

/*-------------------*/

.chatbox-default {
  height: 75vh;
  width: 30vw;
  overflow: auto;
  border-radius: 0.6rem;
  position: relative;
  display: flex;
  flex-direction: column;
}

/* comments */
.commentchatbox {
  height: 53.5vh;
  width: 30vw;
  overflow: auto;
  border-radius: 0.6rem;
  position: relative;
  display: flex;
  flex-direction: column;
}

.comments-info {
  text-align: center;
  margin-top: 10%;
}

/* tablet */
.chatbox-comments-tablet {
  height: 60vh;
  width: 100%;
  overflow: auto;
  border-radius: 0.6rem;
  position: relative;
  display: flex;
  flex-direction: column;
}

.commentchatbox-tablet {
  height: 30vh;
  width: 100%;
  overflow: auto;
  border-radius: 0.6rem;
  position: relative;
  display: flex;
  flex-direction: column;
}

.comments-info-tablet {
  text-align: center;
  margin-top: 10%;
}

/* mobile */
.chatbox-comments-mobile {
  height: 70vh;
  width: 100%;
  overflow: auto;
  border-radius: 0.6rem;
  position: relative;
  display: flex;
  flex-direction: column;
}

.commentchatbox-mobile {
  height: 25vh;
  width: 100%;
  overflow: auto;
  border-radius: 0.6rem;
  position: relative;
  display: flex;
  flex-direction: column;
}

.comments-info-mobile {
  text-align: center;
  margin-top: 10%;
}

/* ul of chatmessages */
.listgroup-chat-comments {
  background-color: transparent;
  border-style: none;
}
