/* box where the chat does appear*/
/* Panel */
#chatbox {
  background-color: rgba(0, 0, 0, 0.3);
  margin-top: 1.5rem;
}

#chatbox-mobile {
  background-color: rgba(0, 0, 0, 0.3);
  margin-top: 1.5rem;
  margin-bottom: 2rem;
  overflow: auto;
}

/*-------------------*/

.chatbox {
  height: 75vh;
  width: 30vw;
  overflow: auto;
  border-radius: 0.6rem;
  position: relative;
  display: flex;
  flex-direction: column;
}

.editchatbox {
  height: 48.5vh;
  width: 30vw;
  overflow: auto;
  border-radius: 0.6rem;
  position: relative;
  display: flex;
  flex-direction: column;
}

/* comments */
.commentchatbox {
  height: 53.5vh;
  width: 30vw;
  overflow: auto;
  border-radius: 0.6rem;
  position: relative;
  display: flex;
  flex-direction: column;
}

.comments-info {
  text-align: center;
  margin-top: 10%;
}

/* tablet */
.chatbox-tablet {
  height: 60vh;
  width: 100%;
  overflow: auto;
  border-radius: 0.6rem;
  position: relative;
  display: flex;
  flex-direction: column;
}

.editchatbox-tablet {
  height: 25vh;
  width: 100%;
  overflow: auto;
  border-radius: 0.6rem;
  position: relative;
  display: flex;
  flex-direction: column;
}

.commentchatbox-tablet {
  height: 30vh;
  width: 100%;
  overflow: auto;
  border-radius: 0.6rem;
  position: relative;
  display: flex;
  flex-direction: column;
}

.comments-info-tablet {
  text-align: center;
  margin-top: 10%;
}

/* mobile */
.chatbox-mobile {
  height: 70vh;
  width: 100%;
  overflow: auto;
  border-radius: 0.6rem;
  position: relative;
  display: flex;
  flex-direction: column;
}

.editchatbox-mobile {
  height: 20vh;
  width: 100%;
  overflow: auto;
  border-radius: 0.6rem;
  position: relative;
  display: flex;
  flex-direction: column;
}

.commentchatbox-mobile {
  height: 25vh;
  width: 100%;
  overflow: auto;
  border-radius: 0.6rem;
  position: relative;
  display: flex;
  flex-direction: column;
}

.comments-info-mobile {
  text-align: center;
  margin-top: 10%;
}

/* ul of chatmessages */
.listgroup-edit {
  margin-left: -4rem;
}

.messages-editmode {
  margin-top: 1rem;
}

.listgroup-chat {
  background-color: transparent;
  border-style: none;
}

.listgroup-chat-comments {
  background-color: transparent;
  border-style: none;
}
/*
.listgroup-chat-comments:nth-child(even) {
  margin-left: 20%;
}*/

/*transition of messages*/
.transition-message-enter {
  opacity: 0;
}
.transition-message-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.transition-message-exit {
  opacity: 1;
}
.transition-message-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}
