/* Tabletchatbox */
#flexTablet {
  margin-top: 0rem;
  display: flex;
  justify-content: center;
  max-height: 100%;
}

#tablet-header {
  display: flex;
  justify-content: center;
  margin-bottom: -1.5rem;
}

#viewtablet {
  margin-top: 1rem;
  margin-left: 20rem;
}

#tablet-language {
  margin-top: 1rem;
}

/* MobileChatbox */
#flexMobile {
  display: grid;
  justify-content: center;
}

#mobile-header {
  display: flex;
  justify-content: space-between;
}

#mobile-language {
  margin-top: 1rem;
}
