.flexContainer-header {
  display: grid;
  grid-template-columns: 10% 20% 40% 30%;
  justify-items: center;
  margin-bottom: -1rem;
}

.flexItem-header {
  margin-top: 1rem;
}

#item-show {
  margin-left: 20%;
  font-size: 1.2rem;
  height: fit-content;
  text-decoration: underline;
  cursor: pointer;
  margin-top: 0.2rem;
}

#item-show:hover {
  color: dodgerblue;
}

#item-fade-out {
  font-size: 1.2rem;
  height: fit-content;
  cursor: pointer;
}

#item-fade-out:hover {
  text-decoration: underline;
}

#item-language {
  margin-left: 5vw;
}

#item-select {
  margin-left: 10vw;
  width: 100%;
  margin-bottom: 2rem;
}

.header-language-select {
  width: fit-content;
  background-color: lightgray;
  border-radius: 1rem;
  border-color: dodgerblue;
  font-size: 1.2rem;
}

#header-link-clear {
  font-size: 1.5rem;
  text-decoration: underline;
  margin-left: 20vw;
}

#header-link-clear:hover {
  cursor: pointer;
  color: dodgerblue;
}
