#title-panel {
  margin-top: 1.5rem;
}

.title-scroll {
  max-height: 81vh;
  overflow: auto;
}

.title-scroll-mobile {
  max-height: 70vh;
  overflow: auto;
}

#title-download {
  margin-bottom: 1rem;
}

#title-date {
  font-size: 1.5rem;
}

#title-messages {
  font-size: 1.5rem;
}

#title-number {
  font-size: 1.5rem;
  margin-top: 2rem;
}

.title-details {
  color: lightgray;
  font-size: 1.5rem;
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: auto;
  margin-left: 2.5rem;
}

.title-info {
  word-wrap: break-word;
  margin-left: 5rem;
  margin-right: 2rem;
  color: white;
}

#title-info-description {
  max-height: 18.5rem;
  overflow: auto;
  word-wrap: break-word;
}

#title-details-tags {
  margin-top: 0.5rem;
}

#title-info-tags {
  max-height: 7.5rem;
  overflow: auto;
  word-wrap: break-word;
}

#title-info-phil {
  margin: 0rem;
}

#title-details-author {
  margin-top: 1rem;
}

.link-download-title {
  text-decoration: underline;
  font-size: 1.5rem;
  color: white;
}

.link-download-title:hover {
  color: dodgerblue;
}
