#panel-edit-chat {
  margin-top: 1.5rem;
}

.form-edit-chat {
  width: 90%;
}

.edit-chat-scroll {
  max-height: 74.5vh;
}

/* Chatnumber */
.edit-chat-number {
  margin-right: 0.1rem;
  margin-left: 1.5rem;
  color: lightgray;
}

.edit-chat-input-number {
  max-width: 5rem;
  font-size: 14px;
  height: 2.5rem;
}

/* title */
.edit-chat-title {
  margin-right: 6rem;
  margin-left: 1.5rem;
  color: lightgray;
}

.edit-chat-input-title {
  font-size: 14px;
  height: 2.5rem;
  width: 95%;
}

/* description */
.edit-chat-description {
  margin-right: 1rem;
  margin-left: 1.5rem;
  color: lightgray;
}

.edit-chat-input-description {
  font-size: 14px;
  width: 95%;
  white-space: pre-wrap;
  word-wrap: break-word;
  height: 50px;
}

/* tags */
.edit-chat-tags {
  margin-right: 5.6rem;
  margin-left: 1.5rem;
  color: lightgray;
}

.edit-chat-input-tags {
  font-size: 14px;
  height: 2.5rem;
  width: 95%;
}

/* author */
.edit-chat-author {
  margin-right: 0.2rem;
  color: lightgray;
  margin-left: 1.5rem;
}

.edit-chat-input-author {
  font-size: 14px;
  width: 50%;
  margin-left: 4rem;
  height: 2.5rem;
}

/* admin */
.edit-chat-admin {
  margin-right: 0.2rem;
  color: lightgray;
  margin-left: 1.5rem;
}

.edit-chat-toggle-admin {
  font-size: 12px;
  margin-left: 4.5rem;
  margin-top: 0.5rem;
}

.edit-chat-toggle-user {
  font-size: 12px;
  margin-left: 5.7rem;
  margin-top: 0.5rem;
}

/* language */
.edit-chat-language {
  margin-right: 0rem;
  color: lightgray;
  margin-left: 1.5rem;
}

.edit-chat-language-select {
  font-size: 10px;
  width: 50%;
  margin-left: 1.8rem;
}

/* date publish */
.edit-chat-date {
  margin-right: 1.9rem;
  margin-left: 1.5rem;
  color: lightgray;
}

.edit-chat-input-date {
  max-width: 12rem;
  font-size: 14px;
  height: 2rem;
}

/* count messages */
.edit-chat-last {
  margin-top: -2rem;
}

.edit-chat-messages {
  margin-right: 1.8rem;
  margin-left: 1.5rem;
  color: lightgray;
}

/* chat details only read mode */
.chat-details {
  color: lightgray;
  font-size: 1.5rem;
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: auto;
  margin-left: 0rem;
}

.chat-info {
  word-wrap: break-word;
  margin-left: 4.5rem;
  color: white;
}

#chat-info-phil {
  margin: 0rem;
}

#chat-info-description {
  overflow: auto;
  max-height: 12rem;
}

#chat-info-description-margin {
  margin-top: 0.5rem;
}

#chat-info-tags {
  overflow: auto;
  max-height: 5rem;
}

#chat-number {
  font-size: 1.5rem;
}

#chat-date {
  font-size: 1.5rem;
}

#chat-messages {
  font-size: 1.5rem;
}

#chat-details-download {
  margin-bottom: 1rem;
}

.link-download-chat {
  font-size: 1.5rem;
  cursor: pointer;
  color: white;
}

.link-download-chat:hover {
  font-size: 1.5rem;
  text-decoration: underline;
  color: white;
}

/* border-line */
.edit-chat-border {
  border-top-style: groove;
  width: 100%;
}

/* Spinner */
.edit-chat-spinner {
  text-align: center;
  margin-top: 1rem;
  color: dodgerblue;
}

/* actions */
.edit-chat-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.edit-chat-btn {
  border-radius: 0.5rem;
  margin-bottom: 1.5rem;
  margin-right: 1.5rem;
  background-color: silver;
  font-size: 1.2rem;
  font-weight: bold;
}

.edit-chat-btn:hover {
  border-color: dodgerblue;
}

.edit-chat-btn:active {
  background-color: dodgerblue;
}

.edit-chat-btn-clear {
  border-radius: 0.5rem;
  margin-bottom: 1.5rem;
  margin-right: 1.5rem;
  background-color: silver;
  font-size: 1.2rem;
  font-weight: bold;
}

.edit-chat-btn-clear:hover {
  border-color: dodgerblue;
}

.edit-chat-btn-clear:active {
  background-color: dodgerblue;
}

.edit-chat-btn-delete {
  border-radius: 0.5rem;
  margin-bottom: 1.5rem;
  background-color: silver;
  font-size: 1.2rem;
  font-weight: bold;
}

.edit-chat-btn-delete:hover {
  border-color: dodgerblue;
}

.edit-chat-btn-delete:active {
  background-color: dodgerblue;
}
