#panel-edit-chat {
  margin-top: 1.5rem;
}

.edit-chat-top {
  margin-top: 1rem;
}

/* Chatnumber */
.edit-chat-number {
  color: lightgray;
}

.edit-chat-input-number {
  width: 15%;
  font-size: 14px;
  height: 2.5rem;
}

/* title */
.edit-chat-title {
  color: lightgray;
}

.edit-chat-input-title {
  font-size: 14px;
  height: 2.5rem;
  width: 90%;
}

/* description */
.edit-chat-description {
  color: lightgray;
}

.edit-chat-input-description {
  font-size: 14px;
  width: 90%;
  white-space: pre-wrap;
  word-wrap: break-word;
  height: 50px;
}

/* tags */
.edit-chat-tags {
  color: lightgray;
}

.edit-chat-input-tags {
  font-size: 14px;
  height: 2.5rem;
  width: 90%;
}

/* author */
.edit-chat-author {
  color: lightgray;
}

.edit-chat-input-author {
  font-size: 14px;
  width: 40%;
  height: 2.5rem;
}

/* admin */
.edit-chat-admin {
  color: lightgray;
}

.edit-chat-toggle-admin {
  font-size: 12px;
  margin-top: 0.3rem;
}

.edit-chat-toggle-user {
  font-size: 12px;

  margin-top: 0.5rem;
}

/* language */
.edit-chat-language {
  color: lightgray;
}

.edit-chat-language-select {
  font-size: 10px;
  width: 20%;
}

/* date publish */
.edit-chat-date {
  color: lightgray;
}

.edit-chat-input-date {
  max-width: 30%;
  font-size: 14px;
  height: 2rem;
}

/* count messages */
.edit-chat-last {
  margin-top: -2rem;
}

.edit-chat-messages {
  margin-right: 1.8rem;
  margin-left: 1.5rem;
  color: lightgray;
}

/* chat details only read mode */
.chat-details {
  color: lightgray;
  font-size: 1.5rem;
  display: grid;
  grid-template-columns: 26% 74%;
  grid-template-rows: auto;
}

.chat-info {
  word-wrap: break-word;
  margin-left: 1.5rem;
  color: white;
}

#chat-info-phil {
  margin: 0rem;
}

#chat-info-description {
  overflow: auto;
  max-height: 12rem;
}

#chat-info-description-margin {
  margin-top: 0.5rem;
}

#chat-info-tags {
  overflow: auto;
  max-height: 5rem;
}

#chat-number {
  font-size: 1.5rem;
}

#chat-date {
  font-size: 1.5rem;
}

#chat-messages {
  font-size: 1.5rem;
}

#chat-details-download {
  margin-bottom: 1rem;
}

.link-download-chat {
  font-size: 1.5rem;
  cursor: pointer;
  color: white;
}

.link-download-chat:hover {
  font-size: 1.5rem;
  text-decoration: underline;
  color: white;
}

/* border-line */
.edit-chat-border {
  border-top-style: groove;
  width: 100%;
}

/* Spinner */
.edit-chat-spinner {
  text-align: center;
  margin-top: 1rem;
  color: dodgerblue;
}

/* actions */
.edit-chat-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.edit-chat-btn {
  border-radius: 0.5rem;
  margin-bottom: 1.5rem;
  margin-right: 1.5rem;
  background-color: silver;
  font-size: 1.2rem;
  font-weight: bold;
}

.edit-chat-btn:hover {
  border-color: dodgerblue;
}

.edit-chat-btn:active {
  background-color: dodgerblue;
}

.edit-chat-btn-clear {
  border-radius: 0.5rem;
  margin-bottom: 1.5rem;
  margin-right: 1.5rem;
  background-color: silver;
  font-size: 1.2rem;
  font-weight: bold;
}

.edit-chat-btn-clear:hover {
  border-color: dodgerblue;
}

.edit-chat-btn-clear:active {
  background-color: dodgerblue;
}

.edit-chat-btn-delete {
  border-radius: 0.5rem;
  margin-bottom: 1.5rem;
  background-color: silver;
  font-size: 1.2rem;
  font-weight: bold;
}

.edit-chat-btn-delete:hover {
  border-color: dodgerblue;
}

.edit-chat-btn-delete:active {
  background-color: dodgerblue;
}
