/* --- general CSS for auth components ---- */
#auth {
  margin-top: 1.5rem;
}

.auth-btn {
  border-radius: 0.5rem;
  background-color: silver;
  max-width: 13rem;
  width: 100%;
  margin: 1rem 1rem 0rem 1rem;
}

.auth-btn:hover {
  border-color: dodgerblue;
}

.auth-btn:active {
  background-color: dodgerblue;
}

.auth-link {
  font-size: 1.2rem;
  color: white;
  margin-left: 1rem;
  margin-right: 1rem;
}

.auth-link:hover {
  text-decoration: underline;
  color: dodgerblue;
}

.auth-actions {
  margin-top: 1rem;
  text-align: center;
}

.auth-alert {
  font-size: 1.5rem;
  width: 90%;
  margin-left: 5%;
  border-radius: 1.5rem;
}

/* -- login updateProfile signUp forgotPassword -- */
#auth-input {
  max-width: 20rem;
}

/* --- Login signUp updateProfile ---- */

#email-login {
  margin-top: 2rem;
  margin-right: 0.5rem;
}

#auth-email {
  margin-right: 0.2rem;
}

/* ---- updateProfile signUp -------- */
#password-confirm {
  margin-right: 0.5rem;
}

/* -------------- Dashboard --------------- */
.auth-user {
  margin: 2rem 1rem 0rem 3rem;
}

#update-link {
  padding-bottom: 2rem;
}

#auth-actions-logout {
  margin-top: 1.5rem;
}

#auth-strong-username {
  color: lightgray;
  margin-right: 2rem;
}

#auth-strong-email {
  color: lightgray;
  margin-right: 1.5rem;
}

.dasboard-border {
  border-top-style: groove;
  border-color: dodgerblue;
  border-width: thin;
  width: 100%;
  margin-top: 2.5rem;
}
/* ------ login -------------------- */

#forgotpassword-link {
  padding-bottom: 1rem;
}

.testuser-info {
  text-align: center;
  font-size: small;
}

.testuser-border {
  border-top-style: solid;
  border-color: dodgerblue;
  border-width: thin;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

/* ------ signUp ----------------- */
#signup {
  margin-top: 2rem;
}

#login-link {
  padding-bottom: 2rem;
}

.auth-actions-signup {
  text-align: center;
}

/* ------ updateProfile --------- */
#cancel {
  padding-bottom: 2rem;
}

#auth-link-delete:hover {
  color: red;
}
/* ------- forgotPassword ------------- */

#email-forgot {
  margin-top: 2rem;
  margin-left: 3rem;
}

#auth-btn-reset {
  max-width: 15rem;
  width: 100%;
  margin-top: 1rem;
}

#auth-btn-reset:active {
  background-color: dodgerblue;
}

#signup-link {
  padding-bottom: 2rem;
}

.auth-actions-forgot {
  text-align: center;
}
