#about {
  margin-top: 1.5rem;
}

.about {
  margin-left: 2rem;
  margin-right: 2rem;
  max-height: 80vh;
  overflow: auto;
  margin-top: 1.5rem;
}

.about-mobile {
  margin-left: 2rem;
  margin-right: 2rem;
  max-height: 70vh;
  overflow: auto;
  margin-top: 1.5rem;
}

.about-menu {
  color: lightgray;
  text-decoration: underline;
}

.about-menu:hover {
  cursor: pointer;
  color: white;
}

.about-details {
  margin-top: 1.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

/* Git Link */

#git {
  color: lightgray;
  font-size: 1.5rem;
  text-decoration: underline;
}

#git:hover {
  color: dodgerblue;
  cursor: pointer;
}

/* about border */
#about-border {
  border-top-style: groove;
  border-top-width: thin;
  border-top-color: dodgerblue;
  width: 100%;
}

/* email */
#about-email {
  font-size: small;
}

#about-email:hover {
  cursor: pointer;
  text-decoration: underline;
}

/* update Info */
#about-update {
  font-size: 1.2rem;
  text-align: center;
  margin-top: 2rem;
}

/* Transition */
.transition-menu-enter {
  opacity: 0;
}
.transition-menu-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}
.transition-menu-exit {
  opacity: 1;
}
.transition-menu-exit-active {
  opacity: 0;
  transition: opacity 1000ms ease-in;
}
