#sitemap-panel-desktop {
  margin-top: 1.5rem;
  max-height: 70vh;
  overflow: auto;
}

.sitemap-para {
  margin-left: 2.5rem;
  margin-right: 1rem;
}

.sitemap-para-mobile {
  margin-left: 1rem;
  margin-right: 1rem;
}

.sitemap-para-tablet {
  margin-left: 1rem;
  margin-right: 1rem;
  font-size: 1.8rem;
  color: silver;
  text-decoration: underline;
}

.sitemap-para-desktop {
  margin-top: 1.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
  font-size: 1.8rem;
  color: silver;
  text-decoration: underline;
}

.sitemap-para-inline {
  color: silver;
}
