.table-adminchats {
  border-collapse: collapse;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 0.6rem;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}

.adminchats-scroll {
  overflow: auto;
  max-height: 82vh;
}

.adminchats-scroll-mobile {
  overflow: auto;
  max-height: 70vh;
}

.data-columns-adminchats-1 {
  display: grid;
  grid-template-columns: 10% 65% 25%;
  border-bottom-color: dodgerblue;
  border-bottom-width: thin;
  border-bottom-style: solid;
}

.data-columns-adminchats-2 {
  display: grid;
  grid-template-columns: 10% 65% 25%;
}

.data-columns-adminchats-2:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.thead-adminchats-1 {
  color: lightgray;
  font-size: 1.5rem;
  padding: 0.5rem;
  text-align: center;
}

.thead-adminchats-2 {
  color: lightgray;
  font-size: 1.5rem;
  padding: 0.5rem;
  text-align: left;
}

.thead-adminchats-3 {
  color: lightgray;
  font-size: 1.5rem;
  padding: 0.5rem;
  text-align: left;
}

.adminchats-column-1 {
  padding: 0.5rem;
  text-align: center;
}

.adminchats-column-2 {
  padding: 0.5rem;
  text-align: left;
  word-wrap: break-word;
}

.adminchats-column-2:hover {
  cursor: pointer;
  text-decoration: underline;
}

.adminchats-column-3 {
  padding: 0.5rem;
  text-align: center;
  word-wrap: break-word;
}

.adminchats-column-3:hover {
  cursor: pointer;
  text-decoration: underline;
}
