.table-chats {
  border-collapse: collapse;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 0.6rem;
  margin-top: 1.5rem;
}

.chatlist-scroll {
  overflow: auto;
  max-height: 75vh;
}

.data-rows-chats-1 {
  display: grid;
  grid-template-columns: 10% 65% 25%;
  border-bottom-color: dodgerblue;
  border-bottom-width: thin;
  border-bottom-style: solid;
}

.data-rows-chats-2 {
  display: grid;
  grid-template-columns: 10% 65% 25%;
}

.data-rows-chats-2:hover {
  background-color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
  text-decoration: underline;
}

.thead-chats {
  color: lightgray;
  font-size: 1.5rem;
  padding: 0.5rem;
  text-align: left;
}

#thead-chats-number {
  text-align: center;
}

.data-columns-chats {
  padding: 0.5rem;
  text-align: left;
  word-wrap: break-word;
}

#data-columns-chats-number {
  text-align: center;
}

#data-columns-chats-date {
  font-size: 1.2rem;
}
