.table-drafts {
  border-collapse: collapse;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 0.6rem;
  margin-top: 1.5rem;
}

.draftlist-scroll {
  overflow: auto;
  max-height: 83vh;
}

.data-rows-drafts-1 {
  display: grid;
  grid-template-columns: 75% 25%;
  border-bottom-color: dodgerblue;
  border-bottom-width: thin;
  border-bottom-style: solid;
}

.data-rows-drafts-2 {
  display: grid;
  grid-template-columns: 75% 25%;
}

.data-rows-drafts-2:hover {
  background-color: blue;
  cursor: pointer;
}

.thead-drafts {
  color: lightgray;
  font-size: 1.5rem;
  padding: 0.5rem;
  text-align: left;
}

.data-columns-drafts {
  padding: 0.5rem;
  text-align: left;
  word-wrap: break-word;
}

#data-columns-draft-date {
  font-size: 1.2rem;
}

#draft-published {
  font-size: 1.2rem;
  color: darkgray;
  margin-left: 0.5rem;
}
