.table-userchats {
  border-collapse: collapse;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 0.6rem;
  width: 100%;
  margin-top: 1.5rem;
}

.userchats-scroll {
  overflow: auto;
  height: 83vh;
}

.userchats-scroll-mobile {
  overflow: auto;
  height: 70vh;
}

.data-columns-userchats-1 {
  display: grid;
  grid-template-columns: 20% 10% 45% 25%;
  border-bottom-color: dodgerblue;
  border-bottom-width: thin;
  border-bottom-style: solid;
}

.data-columns-userchats-2 {
  display: grid;
  grid-template-columns: 20% 10% 45% 25%;
}

.data-columns-userchats-2:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.thead-userchats-1 {
  color: lightgray;
  font-size: 1.5rem;
  padding: 0.5rem;
  text-align: center;
}

.thead-userchats-2 {
  color: lightgray;
  font-size: 1.5rem;
  padding: 0.5rem;
  text-align: center;
}

.thead-userchats-3 {
  color: lightgray;
  font-size: 1.5rem;
  padding: 0.5rem;
  text-align: left;
}

.thead-userchats-4 {
  color: lightgray;
  font-size: 1.5rem;
  padding: 0.5rem;
  text-align: center;
}

.userchats-column-1 {
  font-size: 1.5rem;
  font-weight: bold;
  color: lightgray;
  padding: 0.5rem;
  text-align: left;
  margin-left: 0.5rem;
  word-wrap: break-word;
}

.userchats-column-2 {
  font-size: 1.5rem;
  padding: 0.5rem;
  text-align: center;
}

.userchats-column-3 {
  padding: 0.5rem;
  text-align: left;
  word-wrap: break-word;
}

.userchats-column-3:hover {
  cursor: pointer;
  text-decoration: underline;
}

.userchats-column-4 {
  padding: 0.5rem;
  text-align: center;
  word-wrap: break-word;
}

.userchats-column-4:hover {
  cursor: pointer;
  text-decoration: underline;
}
