/* -------------- Tablet and Mobile ------------------ */

#panel-mobile-menu {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  overflow: auto;
  max-height: 650px;
}

.menu-details {
  margin-left: 1rem;
  margin-bottom: 1rem;
}

.sitemap-para-details {
  margin-left: 1rem;
  margin-right: 1rem;
  font-size: 1.5rem;
}

.menu-panel {
  display: grid;
  grid-template-columns: 14rem 1fr;
}

.menu-link {
  margin-left: 1rem;
  font-size: 1.2rem;
  font-style: italic;
  cursor: pointer;
}

/* Chatbox */
.chatbox-resp {
  height: 86.7vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  overflow: auto;
  border-radius: 0.6rem;
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
}

.editchatbox-resp {
  height: 50vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  overflow: auto;
  border-radius: 0.6rem;
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
}

/* ---------------- Tablet --------------------------- */

#responsive-container-tablet {
  max-width: 50rem;
  margin-top: 0rem;
}

#responsive-border-tablet-left {
  height: fit-content;
  width: 100%;
  max-width: 50rem;
  margin-right: 0.5rem;
}

#responsive-border-tablet-right {
  height: fit-content;
  width: 100%;
  max-width: 50rem;
  margin-left: 0.5rem;
}

/* ---------------- Mobile --------------------------- */

#responsive-container-mobile {
  border-radius: 0.6rem;
  height: fit-content;
  width: 100%;
  max-width: 50rem;
}

.responsive-border-mobile {
  border-radius: 0.6rem;
  width: 100vw;
  max-width: 50rem;
}

#mobile-header {
  display: flex;
  justify-content: space-between;
}

#mobile-language {
  margin-top: 1rem;
}

/* mobile flokrates.online and userchats */
.table-border-color-mobile {
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
}

/* mobile menu */
.menu {
  text-decoration: underline;
  color: dodgerblue;
  cursor: pointer;
}

.menu-panel {
  margin-left: 1rem;
}

.menu-inside {
  color: dodgerblue;
  cursor: pointer;
}

.menu-inside:hover {
  text-decoration: underline;
}

#menu-advice-mobile {
  font-size: 1.2rem;
  text-align: center;
}

/* Transition */
.transition-menu-enter {
  opacity: 0;
}
.transition-menu-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}
.transition-menu-exit {
  opacity: 1;
}
.transition-menu-exit-active {
  opacity: 0;
  transition: opacity 1000ms ease-in;
}
